<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serverSection" type="Beetle.Express.ServerSection, Beetle.Express"/>
  </configSections>
  <serverSection xmlns="urn:Beetle.Express">
    <listens>
      <add name="TEST_TCP" type="TCP"  port="8088" handler="Beetle.Express.Example.Program,Beetle.Express.Example"/>
      <add name="TEST_UDP" type="UDP"  port="8089" handler="Beetle.Express.Example.Program,Beetle.Express.Example"/>
    </listens>
  </serverSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>


